<div class="row align-items-center">
    <div class="col-3">
        <img [src]="ItemDetail.Hinh" alt="" style="width:80px">
    </div>
    <div class="col-6">
        <p class="lead">{{ItemDetail.Ten}}</p>
        <p class="lead text-primary">{{ItemDetail.Gia}}</p>
    </div>
    <div class="col-3">
      <a href="javascript:void(0)" (click)="RemoveItem()">
          <i class="fa fa-minus"></i>
      </a>
      <input type="text"  class="w-25 mx-2" [value]="quantity">
      <a href="javascript:void(0)" (click)="AddItem()">
          <i class="fa fa-plus"></i>
      </a>
    </div>
</div>