<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <form #formDangNhap="ngForm" (ngSubmit)="DangNhap(formDangNhap.value)">
        <h4 class="display-4">Đăng Nhập</h4>
        <div class="form-group">
          <label for="">Tài Khoản</label>
          <input type="text" class="form-control" name="dangnhapTaiKhoan" ngModel #dnTaiKhoan="ngModel" required>
        </div>
        <div class="alert alert-danger" *ngIf="dnTaiKhoan.errors && (dnTaiKhoan.touched || dnTaiKhoan.dirty)">
          <p class="lead mb-0" *ngIf="dnTaiKhoan.errors.required">
            Nhập vào Tài Khoản
          </p>
        </div>
        <div class="form-group">
          <label for="">Mật Khẩu</label>
          <input type="text" class="form-control" name="dangnhapMatKhau" ngModel #dnMatKhau="ngModel" 
          required 
          minlength="6" 
          maxlength="15"
          >
        </div>
        <div class="alert alert-danger" *ngIf="dnMatKhau.errors && (dnMatKhau.touched || dnMatKhau.dirty)">
          <p class="lead mb-0" *ngIf="dnMatKhau.errors.required">
            Chưa Nhập MK
          </p>
          <p class="lead mb-0" *ngIf="dnMatKhau.errors.minlength || dnMatKhau.errors.maxlength">
            MK từ 6-15
          </p>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success" [disabled]="formDangNhap.invalid">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>
</div>
