<span class="input input--kohana">
  <input class="input__field input__field--kohana" type="text" id="input-29" />
  <label class="input__label input__label--kohana" for="input-29">
    <i class="fa fa-user icon icon--kohana"></i>
    <span class="input__label-content input__label-content--kohana">Name</span>
  </label>
</span>
<span class="input input--kohana">
  <input class="input__field input__field--kohana" type="text" id="input-29" />
  <label class="input__label input__label--kohana" for="input-29">
    <i class="fa fa-envelope icon icon--kohana"></i>
    <span class="input__label-content input__label-content--kohana">Email</span>
  </label>
</span>
<span class="input input--kohana">
  <input class="input__field input__field--kohana" type="number" id="input-29" />
  <label class="input__label input__label--kohana" for="input-29">
    <i class="fa fa-phone icon icon--kohana"></i>
    <span class="input__label-content input__label-content--kohana">Phone</span>
  </label>
</span>
<span class="input input--kohana">
  <input class="input__field input__field--kohana" type="text" id="input-29" />
  <label class="input__label input__label--kohana" for="input-29">
    <i class="fa fa-fw fa-clock-o icon icon--kohana"></i>
    <span class="input__label-content input__label-content--kohana">Time</span>
  </label>
</span>